html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
}
body{
   color:  #343434;
   font-family: 'Roboto', sans-serif!important;
   font-size: 16px;
}
.site-header{
    padding: 7px 60px!important;
    border-bottom: 1px solid #EEE!important;
    background-color: #fff!important;
}
.navbar .nav-item .nav-link{
    margin-left: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    color: #343434;
    padding-bottom: 4px;
    font-family: 'Roboto', sans-serif!important;
}
.navbar .nav-item .nav-link.active{
    color: #FF5A60;
    font-weight: 600;
}
.navbar .nav-item .nav-link:hover{
    color: #FF5A60;
}
 .header-login-btn{
    font-size: 16px;
    line-height: 1;
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: 500;
    background-color: #FF5A60;
    color: #fff;
    border-color: #FF5A60;
    font-family: 'Roboto', sans-serif!important;
}
#wpfront-notification-bar table td {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    padding: 8px 12px;
}
#wpfront-notification-bar table td {
    box-shadow: 0 -1px rgba(167, 101, 252, 0.2) inset;
}
.wpfront-div {
    text-align: center;
    vertical-align: middle;
    padding: 5px 0;
    color: #fff;
}
#wpfront-notification-bar a.wpfront-button {
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: none;
    text-shadow: none;
    background: #fff;
    color: #343434;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    margin-left: 5px;
}
#wpfront-notification-bar {
    background: linear-gradient(to bottom, #ff5a61 0%, #ff767b 100%);
    background-repeat: no-repeat;
}
.banner-area{
    background-image: url(../images/banner1.jpg);
    background-position: 45% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0% 0% 0% 0%;
    height:800px;
    position: relative;
}
.banner-area:after {
    content: '';
    background-image: url(../images/download.svg);
    background-repeat: no-repeat;
    bottom: -1px;
    height: 165px;
    display: block;
    background-size: 103% auto;
    position: absolute;
    width: 100%;
    background-position: bottom center;
    margin: 0;
    padding: 0;
}
/* .banner-area:after {
    content: '';
    background-image: url(../images/heart-768x692.png);
    background-repeat: no-repeat;
    top:60px;
    height: 400px;
    width: 400px;
    left: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
} */
.background-over{
    /* background-color: #050000; */
    /* opacity: 0.3; */
    z-index: 9;
    width: 100%;
    height: 800px;
    padding: 250px 60px;
    
}
/* .background-over .heart{
    position: absolute;
    top:60px;
    left:0px;
    z-index: 1;
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
} */
.background-over .banner-heading-title{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1.4px;
    z-index: 9;
    opacity: 1;
}
.background-over .banner-heading-title-large{
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 55px;
    z-index: 9;
}
.background-over p{
    color: #fff;
    z-index: 9;
    width: 35%;
    line-height: 1.4;
    font-size: 16px;
}
select{
    background-color: #fff;
    border: 1px soild #ccc!important;
    color: #888;
    height: 45px;
    width: 258px;
}
select:focus{
    background-color: #fff;
    box-shadow: none!important;
    border: 1px soild #ccc!important;
    color: #888;
}
select::placeholder{
    color: #ccc!important;
}
p {
    margin: 0 0 40px;
    font-family: 'Lato', sans-serif!important;
    
}
a{
    text-decoration: none;
}
.welcome-heading-title{
    color: #FF5A60;
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    line-height: 1;
}
.welcome-heading-title-large{
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 42px;
    line-height: 1;
    color: #343434;
}
.welcome-login-btn{
    font-family: "Lato", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #FF5A60;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FF5A60;
    border-radius: 5px 5px 5px 5px;
    padding: 18px 45px 18px 45px;
}
.welcome-explore-btn:hover{
    border-width: 1px 1px 1px 1px;
    border-color: #FF5A60;
    color: #FF5A60;
}
.welcome-login-btn:hover{
    border-width: 1px 1px 1px 1px;
    border-color: #FF5A60;
    color: #FF5A60;
    background-color: transparent;
}
.welcome-explore-btn{
    font-family: "Lato", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    fill: #343434;
    color: #343434;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #D5D5D5;
    border-radius: 5px 5px 5px 5px;
    padding: 18px 45px 18px 45px;
}
.blog{
    background-color: #FF5A60;
    background-image: url(../images/heart-pattern-bg-1.png);
    /* height: 900px; */
}
.zoom-hover {
    overflow: hidden;
    /* height: 285px; */
    margin-top: 20px;
}
.zoom-hover img:hover {
    transform: scale(1.2);
}
.zoom-hover img {
    transition: transform 1.4s;
    width: 100%;
}
.post-title a {
    margin: 0 0 15px;
    font-weight: 700;
    color: #fff;
    font-size: 24px;
}
.date-wrap {
    color: rgba(255, 255, 255, .75);
}
.date-wrap i{
    margin-right: 10px;
}
.blog .welcome-blog-btn{
    font-family: "Lato", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background-color: transparent;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #fff;
    border-radius: 5px 5px 5px 5px;
    padding: 18px 45px 18px 45px;
}
.welcome-blog-btn:hover{
    border-width: 1px 1px 1px 1px;
    border-color: #FF5A60;
    color: #FF5A60;
    background-color: #fff;
}
p{
    text-align: justify;
}
footer.site-footer {
    background-color: #FF5A60;
    background-image: url(../../../../../../themes/wpdating-matrimony/images/bg-footer-img.png);
    background-repeat: no-repeat;
    background-position: bottom 25px center;
    background-size: contain;
    color: rgba(255, 255, 255, .75);
    padding-top: 255px;
    position: relative;
}
footer.site-footer:before {
    content: '';
    width: 100%;
    height: 170px;
    display: block;
    background-repeat: no-repeat;
    top: -1px;
    position: absolute;
    background-image: url(../images/download1.svg);
    background-position: top center;
    background-size: 100% auto;
}
footer .footer-title {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 30px;
    color: #fff;
}
footer.site-footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
footer.site-footer ul li a{
    color: rgba(255, 255, 255, .75);
}
footer.site-footer ul li {
    color: rgba(255, 255, 255, .75);
    margin-bottom: 20px;
}
footer .detials-wrap li i {
    margin-top: 4px;
    margin-right: 10px;
}
footer.site-footer a i, footer.site-footer ul li a i, footer.site-footer i {
    color: rgba(255, 255, 255, 1);
}
.social-links li:not(:last-child) {
    margin-right: 15px;
}
footer.site-footer ul.social-links li a {
    border-color: #DEDEDE;
}
footer.site-footer a, footer.site-footer ul li a {
    color: rgba(255, 255, 255, .75);
}
.social-links>li>a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #9D9D9D;
    padding: 8px 12px;
}
.social-links>li>a:hover {
    background-color: #fff;
    color: #FF5A60;
}
.footer-head{
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}
footer .copyright-wrap {
    border-top: 1px solid rgba(255, 255, 255, .16);
    padding: 25px 0;
}
input{
    border:1px solid#ccc;
    background-color: #fff;
    cursor: pointer!important;
}
input:focus{
    border:1px solid#ccc;
    background-color: #fff!important;
    box-shadow: none!important;
}
.elementor-icon {
    background-color: #FFFFFF;
    fill: #FF5A60;
    color: #FF5A60;
    font-size: 40px;
    padding: 30px 40px;
    box-shadow: 0 3px 25px 0 rgb(0 0 0 / 10%);
    border-radius: 50%;
}
.arrow{
    position: absolute;
    top: 70px;
    left: 280px;
}
.arrow1{
    position: absolute;
    top: 105px;
    right: 280px;
}
.blog .card{
    /* margin: 0 15px 30px; */
    background-color: #fff;
    min-height: 364px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 40px rgba(0, 0, 0, .07);
    transition: all 400ms ease-in-out;
    position: relative;
}
 .member-user-name {
    font-size: 20px;
    font-weight: 600;
    /* position: relative; */
    margin-bottom: 0;
    display: inline-block;
    margin-bottom: 10px;
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: flex-end;
    height: 100%;
    padding: 20px 30px;
}
.user-details{
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: flex-end;
    height: 100%;
    padding: 20px 30px;
}
.member-user-name1{
    font-size: 20px;
    font-weight: 600;
    /* position: relative; */
    margin-bottom: 0;
    display: inline-block;
    margin-bottom: 10px;
    color: #fff;
    width: 100%;
}
.user-details{
    display: none;
}
.member-detail-wrap .user-details, body .member-detail-wrap h6.member-user-name, body .main-member-list-wrap .member-detail-wrap .member-user-name a {
    color: #fff;
    width: 100%;
}
.card:hover .user-details {
    bottom: 20px;
    transition: 1s;
    transition: ease-in-out;
}
.card:hover .user-details{
    display: block;
    /* position: relative; */
}
.user-details:before{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .1) 20%, rgba(0, 0, 0, 1) 100%);
    bottom: -20px;
}
/* .card:after{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .1) 20%, rgba(0, 0, 0, 1) 100%);
    bottom: -20px;
} */
.card:hover .member-user-name{
    display: none;
}
.blog .nav-item .nav-link{
    font-family: "Lato", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 14px 40px;
    border: 1px solid #fff;
    border-radius: 5px;
    line-height: 1;
    margin: 0 10px;
    transition: all 400ms ease-in-out;
    background-color: transparent;
  }
.blog .nav-item .nav-link.active{
  font-family: "Lato", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  fill: #FFFFFF;
  background-color: #fff;
  color: #000;
  padding: 14px 40px;
  border: 1px solid #fff;
  border-radius: 5px;
  line-height: 1;
  margin: 0 10px;
  transition: all 400ms ease-in-out;
}
.blog .nav-item .nav-link:hover{
    font-family: "Lato", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    fill: #FFFFFF;
    background-color: #fff;
    color: #000;
    padding: 14px 40px;
    border: 1px solid #fff;
    border-radius: 5px;
    line-height: 1;
    margin: 0 10px;
    transition: all 400ms ease-in-out;
}
.slider .card{
    padding: 50px 50px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 30px rgb(0 0 0 / 8%);
}
.slider .card .img-postion {
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin-right :16px;
}
.slider .card h5.title {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 600;
}

.slick-dots li.slick-active button::before {
    opacity: .75;
    color: #ff5a61 ;
  }
  .slick-dots li button::before {
    font-size:  16px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #ff5a61 !important;
    padding: 0px;
    border: 1px solid #ff5a61;
    border-radius: 50%;
  }
  .slider .slick-slide {
    opacity: .3;
    filter: blur(1.5px);
    transition: all 500ms ease-in-out;
  }
  .slider .slick-slide.active {
    opacity: 1;
    filter: blur(1.5px);
    transition: all 500ms ease-in-out;
  }
  .slider .slick-slide.slick-center.slick-active {
    opacity: 1;
    transform: translateY(-50px);
    filter: blur(0);
}
.blog-banner{
    background-color: #FF5A60;
    background-image: url(../images/heart-pattern-bg-1.png);
    border-radius: 0px 5px 5px 0px;
    z-index: 1;
}
.blog-card{
    box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.08);
    background-color: #FFFFFF;
    padding: 60px 50px 60px 50px;
    border-radius: 10px;
}
.blog-img{
    background: url(../images/User-Story-600x853.jpg) no-repeat center / cover;
    height: 320px;
    border-radius: 6px;
}
.post-title{
    margin: 0 0 15px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #343434;
}
.date-wrap {
    color: #9D9D9D;
}
a.read_more {
    font-size: 18px;
    color: #FF5A60;
    font-weight: 700;
}
a.read_more:hover {
    font-size: 18px;
    color: #343434;
    font-weight: 700;
}
.blog-area:hover .post-title{
    color: #FF5A60;
    cursor: pointer;
}
.member-banner {
    background-color: #FF5A60;
    background-image: url(../images/inner-page-banner-heart.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 105px 0px 180px 0px;
    position: relative;
}
.member-banner:after {
    content: '';
    background-image: url(../images/download3.svg);
    background-repeat: no-repeat;
    bottom: -1px;
    height: 165px;
    display: block;
    background-size: 103% auto;
    position: absolute;
    width: 100%;
    background-position: bottom center;
}
.filter-bar-wrap {
    background: transparent;
    padding: 0;
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
}
.filter-bar-wrap .search-block-wrap input {
    height: 40px;
    border-radius: 5px;
    padding-left: 55px;
    padding-right: 70px;
    border: 0;
    color: #B6B6B6;
    width: 100%;
}
.form-control.search-block-wrap:after {
    content: "\f002";
    font: normal normal normal 14px / 1 FontAwesome;
    position: absolute;
    top: 18px;
    left: 20px;
    color: #ff5a61;
    font-size: 18px;
}
.filter-bar-wrap .trigger-filter-icon {
    background-color: #FF5A60;
    color: #fff;
    position: absolute;
    right: 15px;
    padding: 8px 14px;
    line-height: 1;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.filter-bar-wrap .trigger-filter-icon i {
    transform: rotate(0deg);
}
.filter-bar-wrap .input:focus {
    border: 0!important;
    background-color: #fff !important;
    box-shadow: none !important;
  }
  .sliders .card{
    padding: 50px 50px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 30px rgb(0 0 0 / 8%)!important;
}
.sliders .card .img-postion {
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin-right :16px;
}
.sliders .card h5.title {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 600;
}
.blog-area-cards .card{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 30px rgb(0 0 0 / 8%)!important;
    overflow: hidden;
}
.blog-area-cards .card .link-wrap a:hover{
border-bottom: 2px solid #FF5A60;
padding-bottom: 4px;
padding-left: 5px;
padding-right: 5px;
color: #FF5A60!important;
}
.blog-area-cards .card .card-body input{
    color: #343434;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0 15px;
    height: 50px;
}
.blog-area-cards .card .card-body label {
    color: #9A9A9A;
    font-weight: 500;
    width: 100%;
    margin-bottom: 5px;
    font-size: 17px;
}
.blog-area-cards .card .card-body textarea:focus{
    border: 1px solid #ccc!important;
    box-shadow: none !important;
}
.elementor-widgets-container {
    margin: 0px 0px -20px 0px;
    padding: 20px 25px 20px 25px;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #EAEAEA;
    border-radius: 5px 5px 0px 0px;
}
.elementor-widgets-container h6{
    font-size: 18px;
    font-weight: 600;
}
.elementor-widgetd-containerd {
    padding: 20px 25px 20px 25px;
    border-bottom: 1px solid#EAEAEA;
}
.elementor-widgetd-containerd .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(20px / 2);
    display: flex;
}
.elementor-widgetd-containerd a{
    color: #343434;
}
a {
    color: #343434;
    text-decoration: none;
}
 li{
    list-style: none!important;
}
.elementor-widgets-container .social-links > li > a:hover {
    background-color: #000;
    border-color: #000;
    color: #fff;
  }
.accordion-button {
    padding: 25px 30px 25px 30px;
    border-width: 1px !important;
    border-radius: 5px !important;
    border: 1px solid #E2DFED;
    font-weight: 600;
    line-height: 1;
    cursor: pointer;
    outline: none;
    font-size: 20px;
}
.accordion-button:focus {
    /* border: 1px soild #E2DFED; */
    outline: 0;
    box-shadow: none !important;
    background-color: transparent !important;
    color: #343434;
    border-color: none !important;
  }
  .accordion-button:focus {
    border-color: #E2DFED !important;
  }
.accordion-body {
    background-color: #FFFFFF;
    padding: 30px 30px 30px 30px;
    border-width: 0;
    border-color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
.accordion-button:not(.collapsed) {
    color: #343434!important;
    background-color: transparent!important;
    box-shadow: none !important;
  }

.login-modal .nav-item .nav-link:hover{
    color: #343434!important;
    background-color: #E5E5E5!important;
}
.login-modal input[type=password] , .login-modal input[type=text] ,.login-modal input[type=email], .login-modal select{
    position: relative;
    width: 100%;
    margin: 0 0 14px;
    padding: 15px 20px;
    font-family: inherit;
    font-size: 13px;
    line-height: 18px;
    font-weight: inherit;
    color: #929292;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    outline: 0;
    box-sizing: border-box;
    height: 55px;
}
.login-modal .register input[type=password] , .login-modal .register input[type=text] ,.login-modal .register input[type=email], .login-modal .register select , .login-modal .register input[type=tel]{
  position: relative;
  width: 100%;
  margin: 0 0 14px;
  padding: 12px 10px;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  font-weight: inherit;
  color: #929292;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  outline: 0;
  box-sizing: border-box;
  height: 45px;
}
.login-modal .register .card .card-body label {
  color: #343434;
  font-weight: 500;
  width: 100%;
  margin-bottom: 0px;
  font-size: 14px;
}
.login-modal .nav-tabs .nav-link{
    color: #343434!important;
    background-color: #E5E5E5!important;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    margin: 0;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    text-transform: uppercase;
}
.login-modal .nav-tabs .nav-link.active{
    background-color: #fff!important;
    color: #ff5a61!important;
}
.login-modal ul{
    display: flex;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.login-modal ul li{
    border-bottom: 1px solid #e5e5e5;
}
.btn-position{
    position: absolute;
    top:25px; 
    right: 20px;
    color: #fff!important;
    z-index: 9!important;
    opacity: 1!important;
    font-size: 20px;
}
.login-modal .card .card-body label {
    color: #9A9A9A;
    font-weight: 500;
    width: 100%;
    margin-bottom: 5px;
    font-size: 17px;
  }
.header-login-btn{
    color: #fff!important;
}
.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
}
.members-banners {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 105px 0px 70px 0px;
    background-image: url(../images/shadi.jpeg);
}
.profile-banner:after {
    content: '';
    background-image: url(../images/download3.svg);
    background-repeat: no-repeat;
    bottom: -1px;
    height: 165px;
    display: block;
    background-size: 103% auto;
    position: absolute;
    width: 100%;
    background-position: bottom center;
}
.profile-banner{
    position: relative;
}
.profile-place{
    border-radius: 50%;
    width: 230px;
    height: 230px;
    border: 3px solid #fff;
    box-shadow: 0 0 35px rgb(0 0 0 / 8%);
    overflow: hidden;
    position: relative;
}
.update_profile_text_div {
    bottom: 50px;
    right: -15px;
    position: absolute;
    z-index: 2;
}
.update_profile_text_div>a {
    background-color: #343434;
    border: 1px solid rgba(255, 255, 255, 0.60);
    color: #fff;
}
.update_profile_text_div>a {
    display: inline-flex;
    line-height: 1;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 25px rgb(0 0 0 / 10%);
    cursor: pointer;
}
.wpee-online {
    position: absolute;
    right: -5px;
    top: 55px;
    width: 16px;
    height: 16px;
    background-color: #6C6;
    border: 2px solid #FFF;
    border-radius: 16px;
}
.user-info-wrapper {
    margin-bottom: 120px;
    margin-left: 30px;
    display: flex;
    min-height: 181px;
    flex-direction: column;
    justify-content: flex-end;
}
h4.username.text-white {
    font-size: 28px;
    text-transform: capitalize;
    color: #fff;
}
.age-location-wrap {
    display: flex;
    margin-bottom: 15px;
    font-size: 14px;
    color: #fff;
}
 .profile-age {
    margin-right: 10px;
}
.account-status-profile-credit-wrapper {
    display: flex;
    align-items: center;
}
.account-status {
    background: #FF5A60;
    color: #fff;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1.4;
    padding: 10px 20px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.08);
    display: inline-block;
    border-radius: 5px;
    width: fit-content;
}
.trigger-cover-photo{
    font-size: 14px;
    display: inline-block;
    line-height: 1;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.08);
    text-align: right;
    color: #000;
    border: 1px solid #fff;
    text-decoration: none !important;
    font-weight: 600;
    padding: 12px 15px;
}
.trigger-cover-photo:hover{
    font-size: 14px;
    display: inline-block;
    line-height: 1;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.08);
    text-align: right;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none !important;
    font-weight: 600;
    padding: 12px 15px;
}
.position-profile {
    position: absolute;
    bottom: 0px;
    z-index: 9;
    left: 160px;
  }
.profile-header-menu {
    background: #FF5A60;
    padding: 16px 20px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 5px;
    color: #fff;
}
.profile-tab ul{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
    z-index: 5;
}
.profile-tab li:not(:last-child){
    margin-right: 15px;
}
.profile-tab ul li .nav-link {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}
.profile-tab li .nav-link.active{
    font-weight: 700;
}
.profile-tab li a.active:after{
    content: "\f004";
    position: absolute;
    top: -10px;
    left: 50%;
    font-size: 20px;
    font: normal normal normal 10px / 1 FontAwesome;
    margin-left: -6px;
}
.profile-photo-card .card{
    border: none;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.10);
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;
}
.wpee-block-title {
    background-color: #fff;
    color: #000000;
    border-bottom: 1px solid #EAEAEA;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 20px;
    margin: 0;
}
.profile-photo-card .card .card-body{
    padding: 20px!important;
}
.profile-detail-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.profile-detail-list>li:not(:last-child) {
    margin-bottom: 15px;
}
.profile-detail-list>li {
    color: #9A9A9A;
}
.profile-detail-list>li>span {
    display: inline-block;
    width: 45%;
    font-weight: 700;
    margin-right: 5px;
    color: #343434;
}
.wpee-block-footer {
    background-color: #FF5A60;
    color: #FFFFFF;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: 1px solid #ececec;
}
.wpee-block-footer a {
    color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg id='arrow-right' xmlns='http://www.w3.org/2000/svg' width='17.251' height='10.064' viewBox='0 0 17.251 10.064'%3E%3Cpath id='Path_25972' data-name='Path 25972' d='M22.709,10.335a.719.719,0,0,1,1.018,0l4.312,4.312a.719.719,0,0,1,0,1.018l-4.312,4.312a.72.72,0,1,1-1.018-1.018l3.8-3.8-3.805-3.8a.719.719,0,0,1,0-1.018Z' transform='translate(-11 -10.123)' fill='%23fff' fill-rule='evenodd'/%3E%3Cpath id='Path_25973' data-name='Path 25973' d='M4.5,17.594a.719.719,0,0,1,.719-.719H20.312a.719.719,0,1,1,0,1.437H5.219A.719.719,0,0,1,4.5,17.594Z' transform='translate(-4.5 -12.562)' fill='%23fff' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center right 0px;
    padding-right: 30px;
    display: inline-block;
    line-height: 1;
    padding: 10px 30px 10px 20px;
}
.profile-photo-list .photos-list {
    width: calc(33.33% - 4px);
    margin: 0 2px 4px;
    line-height: 0;
}
.profile-photo-list .photos-list a {
    display: inline-block;
    width: 100%;
    line-height: 0;
    border-radius: 5px;
    overflow: hidden;
}
.edit-profile>li {
    display: flex;
    flex-direction: column;
    margin: 0 0 15px;
}
.edit-profile>li>span.dspdp-control-label {
    color: #000;
    font-weight: 700;
}
.edit-profile>li select {
    padding: 0 15px;
    height: 40px;
    font-size: 14px;
}
.dspdp-form-control{
    width: 100%;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.dsp_submit_button{
    background: #707070;
    margin-bottom: 0px;
    display: inline-block !important;
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 0;
    color: #fff;
}
.wpee-block-footers{
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 20px;
    background: rgba(254, 91, 96, 0.75);
    width: 100%;
    color: #fff;
    margin-bottom: 0px;
    padding: 8px 20px;
    text-align: left;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1;
}
.online-member-list li{
    position: relative;
}
.online-member-list>li:after {
    content: '';
    background: #66CC66;
    height: 8px;
    width: 8px;
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
    border-radius: 50%;
    z-index: 1;
}
.chat-feed .card{
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    margin-bottom: 30px;
}
.feed-header .feed-profile-img img{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 0 32px rgb(0 0 0 / 9%);
}
.feed-profile-img img{
    border-radius: 50%;
}
.feed-title-wrap [data-time] {
    color: #9A9A9A;
    font-size: 15px;
}
strong{
    font-weight: bolder;
}
.input-button-filed{
    margin-bottom: 0;
    position: relative;
    vertical-align: middle;
    display: flex;
}
.profile-status-text {
    padding-right: 112px;
    font-size: 14px;
    padding: 5px 112px 5px 10px;
}
.chat-feed input[type="submit"] {
    position: absolute;
    right: 10px;
    top: 7.5px;
    min-width: 100px;
    max-height: 30px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    background-color: #FF5A60;
    border-color: #FF5A60;
    height: auto;
    border-radius: 2px;
    border: 1px solid #FF5A60;
    color: #fff;
    transition: all 400ms ease-in-out;
    margin-top: 5px;
    padding: 7px 20px
}
textarea:focus{
    box-shadow: none !important;
}
.chat-feed .feed-content span.image-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 100%;
    min-height: 350px;
    border-radius: 5px;
}
.additional-nav li a{
    margin-left: 20px!important;
}
/* .profile-circle a{
    width: 50px;
    border-radius: 50%;
    border: 2px solid #FF5A60;
} */
.profile-circle a img{
    width: 50px;
    border-radius: 50%;
    border: 2px solid #FF5A60;
}
.user-chat{
    background: #fff;
    overflow: visible;
    display: flex;
    flex-wrap: wrap;
}
.row-main{
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    background: #fff;
    box-shadow: none;
    overflow: visible;
    position: relative;
}
.row-main .nav-link{
    background: transparent;
    border-right: none;
    position: relative;
    padding: 16px;
    width: 100%;
    margin: 0 auto;
    border: none !important;
    border-radius: 0px!important;
    /* height: 100%; */
}
.row-main .nav-link:hover , .row-main .nav-link.active{
    background: rgb(255, 90, 96, 0.1);
}
.message-user{
    display: flex;
    /* align-items: center; */
}
.row-main .nav-link .message-user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    padding: 0;
    margin-right: 10px;
}
.row-main .nav-link .message-user label{
    color: #343434;
    line-height: 1.2;
    margin: 0;
    font-size: 16px;
}
.row-main .nav-link .message-user p{
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.2;
    font-size: 14px;
}
.row-main .chat-date {
    text-align: center;
    margin: .5rem 0;
    color: #A9A9A9;
}
.row-main .messages ul li.replies{
   display: flex;
   justify-content: end;
   align-items: center;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
    position: relative;
}
.row-main .messages ul li.sent{
    display: flex;
    justify-content: start;
    align-items: center;
     margin: 15px 15px 5px 15px;
     width: calc(100% - 25px);
     font-size: 0.9em;
     position: relative;
 }
.row-main .messages ul li.replies .message-text {
    background: rgba(255, 0, 0, 0.15) !important;
    color: #343434;
    margin-top: 18px;
}
.row-main .messages ul li.sent .message-text {
    background: rgba(255, 0, 0, 0.15) !important;
    color: #343434;
    margin-top: 0;
}
.row-main .messages ul li .message-text {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 205px;
    line-height: 130%;
    margin-top: 15px;
    word-break: break-word;
}
.row-main .messages ul li.sent .message-time {
    color: #A9A9A9;
    font-size: 12px;
    bottom: -2px;
    position: relative;
    padding-left: 10px;
}
.wrap .left-image {
    flex: 0 0 60px;
    width: 60px !important;
    position: relative;
}
.wrap .center-chat {
    width: auto !important;
    flex: 1 1 0;
    max-width: 100%;
    margin: 0 10px;
    display: block !important;
}
.wrap .dsp-instant-chat-message-box {
    background-color: rgba(255, 0, 0, 0.05);
    border: 1px solid transparent !important;
    border-radius: 4px;
}
.wrap .right-send {
    width: 60px !important;
}
.wrap .send-button {
    box-shadow: none;
    transition: none;
    background: #fff;
    color: #343434;
    opacity: 0.7;
    border: none;
    width: 100%;
    padding: 12px 0;
    cursor: pointer;
    height: 60px;
}
.wrap .center-chat .emoji-picker-icon {
    color: #FF5A60;
  margin-top: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  right: 16px;
}
.wrap i:hover{
    opacity: 1!important;
}
.message-input {
    padding: 10px;
    background: #fff;
    border-radius: 0 0 8px 0;
    box-shadow: 0 -1px #EAEAEA;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
}
.profile-photo-card .row-main{
    border: 1px solid #e3e1e4;
    border-radius: 8px;
    height: 650px;
    /* overflow: hidden; */
}
.profile-photo-card .row-main .user-chat{
    height: 100%;
    overflow-y: scroll;
}
.profile-photo-card .row-main .user-messanger{
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    min-height: 0;
    position: relative;
}
.row-main .user-chat #search {
    border-top: none;
    border-bottom: 1px solid #e3e1e4;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}
.row-main .user-chat #search label {
    margin: 0;
  line-height: 1;
  display: block;
  left: 16px;
  top: 49%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  color: #9A9A9A;
  font-weight: normal;
  width: auto;
  font-size: 18px;
}
.row-main .user-chat #search input {
    border: none;
    background: #fff;
    padding: 0 0 0 46px;
    border-radius: 8px 0 0 0;
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    padding: 10px 0 10px 46px;
    width: 100%;
    border: none;
    color: #343434;
    height: 50px;
}
.row-main .user-chat #search input:focus-visible{
    box-shadow: none!important;
    border: 1px solid #e3e1e4!important;
    outline : none;
}
.member-img-small img{
    width: 32px;
    height: 32px;
    margin: 0 8px 0 16px;
    border-radius: 50%;
}
.dsp-chat-user-display-name{
    color: #343434!important;
}
.chatbot-section-desktop{
    display: flex!important;
}
.chatbot-section-mobile{
    display: none!important;
}
.registration-section{
  background: url(../images/bg-inner-page.jpg) repeat fixed center top / 100% auto rgba(0, 0, 0, 0);
  width: 100%;
  padding: 60px 0px 120px;
}
.registration-section .form-check-inline{
  font-size: 14px!important;
}
.registration-section select{
  margin: 0px!important;
}
.registration-form .nav-pills .nav-item .nav-link {
  color: #fff!important;
  background-color: #094373!important;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 18px;
  margin: 0;
  cursor: pointer;
  transition: all 400ms ease-in-out;
  border-radius: 0px!important;
}
.registration-form .nav-pills .nav-item .nav-link.active{
  color: #fff !important;
  background-color: #FF5A60!important;
  cursor: pointer;
}
.registration-form .nav-pills .nav-item .nav-link:hover {
  color: #fff !important;
  background-color: #ff767b!important;
  cursor: pointer;
}
.registration-form h1{
  background: none repeat scroll 0 0 #4c657c;
  color: #fff;
  font: 17px / 30px Oswald;
  /* height: 50px; */
  margin: 0;
  padding: 16px 20px;
  text-align: left;
}
footer.register-footer::before {
  display: none;
}
.file-preview {
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;
}
.close {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity = 20);
  opacity: .2;
}
.file-preview-frame.selected {
  box-shadow: 1px 1px 5px 1px #106F00;
}
.file-preview-frame {
  width: 180px;
  margin: 8px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 5px 0px #a2958a;
  padding: 6px;
  float: left;
  text-align: center;
}
.file-preview-image {
  display: block;
  height: 160px;
  margin: auto;
}
.card::before{
  content: '';
  transform: translateY(-5px);
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.09);
  position: relative;
}
.tab-content .card:hover .user-details::before {
  content: '';
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .1) 20%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .1) 20%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .1) 20%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  bottom: -20px;
  z-index: 99;
  position: absolute;
  width: 368px;
  height:368px;
  padding: 0px!important;
}
.zoom-hover::before{
  background-color: #000!important;
  z-index: 999!important;
}
@media only screen and (max-width: 576px) {
    .chatbot-section-desktop{
        display: none!important;
    }
    .chatbot-section-mobile{
        display: flex!important;
    }
.site-header {
    padding: 7px 0px !important;
    border-bottom: 1px solid #EEE !important;
    background-color: #fff !important;
  }
  .home-cont{
    padding-left: 16px!important;
  }
  .navbar .nav-item .nav-link {
    margin-left: 10px!important;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    color: #343434;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif !important;
  }
  .background-over {
    /* background-color: #050000;
    opacity: 0.3; */
    z-index: -1;
    width: 100%;
    height: 600px;
    padding: 100px 30px;
  }
  .background-over .banner-heading-title {
    color: #fff;
    font-size: 20px;
    z-index: 9;
  }
  .background-over .banner-heading-title-large {
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 45px;
    margin-bottom: 10px!important;
    z-index: 9;
  }
  .background-over p {
    color: #fff;
    z-index: 9;
    width: 100%;
    line-height: 1.4;
    font-size: 14px;
  }
  .banner-area .card {
    padding: 1rem !important;
  }
  .banner-area .card .form-group {
    margin-bottom: 1rem!important;
  }
  .banner-area {
    background-image: url(../images/banner1.jpg);
    background-position: 71% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0% 0% 0% 0%;
    height: 650px;
    position: relative;
  }
  .form-select {
    font-size: 14px!important;
  }
  .Welcome-about .col-lg-7{
    padding-right: 0px!important;
  }
  .ps-5 {
    padding-left: 1.5rem !important;
  }
  .px-5 {
    padding-left: 1rem !important;
    padding-right: 1rem!important;
  }
  .pt-5 {
    padding-top: 1.5rem !important;
  }
  .py-5 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
  .ps-4{
    padding-left: 0.5rem!important;
  }
  .pb-5 {
    padding-bottom: 1.5rem !important;
  }
  .ms-5 {
    margin-left: 1.5rem !important;
  }
  .mt-5 {
    margin-top: 1.5rem !important;
  }
  .my-5 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }
  .mb-4{
    margin-bottom: 0.5rem!important;
  }
  .welcome-heading-title-large {
    font-size: 24px!important;
  }
  .welcome-heading-title {
    font-size: 16px;
    line-height: 1;
  }
  p {
    margin: 0 0 20px;
    font-size: 16px!important;
  }
  .welcome-login-btn {
    font-size: 16px;
    padding: 12px 16px 14px 16px!important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .welcome-explore-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 12px 16px 14px 16px!important;
  }
  .pt-4 {
    padding-top: 0.75rem !important;
  }
  .mt-4 {
    margin-top: 0.75rem !important;
  }
  .member-section{
    padding: 0px 16px!important;
  }
  .blog .nav-item .nav-link {
    font-family: "Lato", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    padding: 10px 12px;
    border: 1px solid #fff;
    border-radius: 5px;
    line-height: 1;
    margin: 0 5px;
    transition: all 400ms ease-in-out;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .blog .nav-item .nav-link.active {
    font-size: 12px;
    margin: 0 5px;
    padding: 10px 12px;
  }
  .blog .nav-item .nav-link i{
    padding-right: 0.2rem;
  }
  .blog .welcome-blog-btn {
    font-size: 16px;
    padding: 12px 20px 14px 20px;
  }
  .slider .card {
    padding: 20px 20px;
  }
  .slider .col-sm-12{
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .sliders .card{
    padding: 20px 20px!important;
  }
  .p-5{
    padding: 1.5rem!important;
  }
  .blog-card {
    padding: 30px 20px 10px 20px;
  }
  .blog-img {
    margin-top: 2rem!important;
  }
  .how-its-work{
    padding: 0px 20px!important;
  }
  .latest-blog{
    padding: 0px 20px!important;
  }
  .find-your{
    padding: 0px 20px!important;
  }
  .post-title a {
    margin: 0 0 0px;
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    line-height: 1;
  }
  .post-title {
    line-height: 1;
  }
  footer.site-footer {
    background-color: #FF5A60;
    background-image: url(../../../../../../themes/wpdating-matrimony/images/bg-footer-img.png);
    background-repeat: no-repeat;
    background-position: bottom 25px center;
    background-size: contain;
    color: rgba(255, 255, 255, .75);
    padding-top: 80px;
    position: relative;
  }
  .site-footer .container{
    padding: 0px 20px!important;
  }
  .site-footer .container .ps-5{
    padding: 0px 10px!important;
  }
  footer .footer-title {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 20px;
    color: #fff;
  }
  footer.site-footer ul li {
    margin-bottom: 10px;
  }
  .site-footer .container .mt-2{
    margin-top: 16px!important;
  }
  .arrow ,.arrow1{
    display: none;
  }
  .member-banner {
    padding: 50px 0px 80px 0px;
  }
  .blog .container{
    padding: 0px 20px!important;
  }
  .navbar .container{
    padding-left: 16px !important;
  }
  .story .container{
    padding: 0px 20px!important;
  }
  .post-title {
    font-size: 18px!important;
  }
  .date-wrap {
    font-size: 14px;
  }
  .sliders .card h5.title {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
  }
  .contact-us .elementor-heading-title{
    font-size: 26px!important;
    margin-bottom: 20px!important;
  }
  .contact-us .card .card-body{
    padding: 20px 10px!important;
  }
  .blog-area-cards .card .card-body input {
    height: 36px;
  }
  .blog-area-cards .card .card-body label {
    font-size: 14px;
  }
  .contact-faq .blog-banner{
    height: auto!important;
  }
  .contact-faq .welcome-heading-title-large {
    font-size: 20px !important;
    margin-bottom: 0px !important;
  }
  .accordion-button {
    padding: 16px 12px 16px 12px;
    font-weight: 500;
    line-height: 1;
    cursor: pointer;
    outline: none;
    font-size: 14px;
  }
  .accordion-body {
    background-color: #FFFFFF;
    padding: 16px 12px 16px 12px;
    border-width: 0;
    border-color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.9;
  }
  .contact-faq .blog-area{
    margin-top: 40px;
  }
  .elementor-widgets-container {
    margin: 0px 0px -20px 0px;
    padding: 20px 0px 20px 0px;
  }
  .elementor-widgetd-containerd {
    padding: 20px 0px 20px 0px;
  }
  .members-banners {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 50px 0px 20px 0px;
    background-image: url(../images/shadi.jpeg);
}
.position-profile {
    position: absolute;
    bottom: 0px;
    z-index: 9;
    left: 0px;
}
.profile-place {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 3px solid #fff;
    box-shadow: 0 0 35px rgb(0 0 0 / 8%);
    overflow: hidden;
    position: relative;
}
.photo-profile{
    width: 80px!important;
    position: absolute!important;
    top: 75%;
    left: 33%;
}
.update_profile_text_div>a {
    width: 25px;
    height: 25px;
}
.update_profile_text_div>a i {
    font-size: 10px;
}
.update_profile_text_div {
    bottom: 4px;
    right: -13px;
    position: absolute;
    z-index: 2;
}
.wpee-online {
    position: absolute;
    right: 2px;
    top: 3px;
    width: 10px;
    height: 10px;
    background-color: #6C6;
    border: 2px solid #FFF;
    border-radius: 16px;
}
.user-info-wrapper {
    margin-bottom: 0px;
    margin-left: 0px;
    display: flex;
    min-height: 181px;
    flex-direction: column;
    justify-content: flex-end;
}
.banner-profile{
    height: 170px!important;
}
h4.username.text-white {
    font-size: 22px;
  }
  .age-location-wrap {
    margin-bottom: 12px;
    font-size: 12px;
  }
  .account-status {
    font-size: 12px;
    padding: 8px 14px;
  }
  .trigger-cover-photo {
    font-size: 12px;
    display: inline-block;
    line-height: 1;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.08);
    text-align: right;
    color: #000;
    border: 1px solid #fff;
    text-decoration: none !important;
    font-weight: 500;
    padding: 10px 12px;
    margin-bottom: -3px;
  }
  .profile-tab ul li .nav-link {
    position: relative;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
  }
  .profile-tab li:not(:last-child) {
    margin-right: 10px;
  }
  .profile-tab .col-lg-6{
    padding: 0px!important;
    margin-bottom: 10px;
  }
  .profile-header-menu {
    background: #FF5A60;
    padding: 16px 20px 10px;
    margin-left: 0px;
    margin-top: 30px;
    border-radius: 5px;
    color: #fff;
  }
  .chat-feed input[type="submit"] {
    position: absolute;
    right: 10px;
    top: 7.5px;
    min-width: 50px;
    font-size: 12px;
  }
  .login-modal .modal-dialog{
    width: 375px!important;
  }
  .login-modal input[type="password"], .login-modal input[type="text"], .login-modal input[type="email"], .login-modal select {
    position: relative;
    width: 100%;
    margin: 0 0 14px;
    padding: 12px 16px;
    font-family: inherit;
    font-size: 13px;
    line-height: 18px;
    font-weight: inherit;
    color: #929292;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    outline: 0;
    box-sizing: border-box;
    height: 40px;
  }
  .login-modal .card .card-body label {
    color: #9A9A9A;
    font-weight: 500;
    width: 100%;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .btn-position {
    position: absolute;
    top: 70px;
    right: 45px;
    color: #fff !important;
    z-index: 9 !important;
    opacity: 1 !important;
    font-size: 20px;
  }
  .profile-header .additional-nav{
    margin-left: 0px!important;
  }
  .row-main .chat-date {
    font-size: 12px;
  }
  .row-main .messages ul li .message-text {
    font-size: 12px;
  }
  .chatbot-section-mobile .fa-photo {
    font-size: 18px!important;
  }
  .chatbot-section-mobile .fa-paper-plane{
    font-size: 18px!important;
  }
  .wrap .send-button {
    height: 40px;
  }
  .wrap .left-image {
    flex: 0 0 0px;
    width: 30px !important;
    position: relative;
  }
  .wrap .right-send {
    width: 20px !important;
  }
  .emoji-wysiwyg-editor{
    height: 40px!important;
  }
  .row-main .nav-link .message-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    padding: 0;
    margin-right: 0px;
  }
  .row-main .nav-link {
    padding: 10px 8px;
  }
  .login-modal .register input[type=password] , .login-modal .register input[type=text] ,.login-modal .register input[type=email], .login-modal .register select , .login-modal .register input[type=tel]{
    margin: 0 0 10px!important;
    padding: 12px 10px;
    height: 45px;
  }
  .login-modal .register .card .card-body label {
    margin-bottom: 5px!important;
    font-size: 14px;
  }
  .agree-tc{
    font-size: 12px!important;
  }
  .registration-form h1 {
    font: 12px / 30px Oswald;
    padding: 10px 10px;
  }
  .registration-form .nav-pills .nav-item .nav-link {
    text-align: start;
    font-size: 14px;
    font-weight: 500;
    padding: 14px;
    margin: 0;
    cursor: pointer;
  }
  .registration-section {
    padding: 0px 0px 0px;
  }
  .registration-section label{
    font-size: 14px;
    margin-bottom: 5px;
  }
  .login-modal .register input[type="password"], .login-modal .register input[type="text"], .login-modal .register input[type="email"], .login-modal .register select, .login-modal .register input[type="tel"] {
    margin: 0 0 10px !important;
    padding: 12px 10px;
    height: 40px!important;
  }
  .copyright-wrap .container{
    display: block!important;
  }
  .copyright-wrap .container .left-content p {
    margin: 0 0 10px!important;
    font-size: 14px !important;
  }
  .copyright-wrap .container{
    padding: 0px 10px !important;
  }
  footer .copyright-wrap {
    /* border-top: 1px solid rgba(255, 255, 255, .16); */
    padding: 16px 0;
  }
  /* .copyright-wrap .container .right-content ul li a{
    font-size: 14px!important;
  } */
}

